[submodule "entt"]
	path = entt
	url = git@github.com:skypjack/entt.git
[submodule "imgui_entt_entity_editor"]
	path = imgui_entt_entity_editor
	url = git@github.com:Green-Sky/imgui_entt_entity_editor.git
